$color-pri: #ddd;
$color-sec: #4db6ac;
$color-tri: #80cbc4;
$color-err: #d00;
$color-hover: #548686;
$color-active: #80cbc4;

$bg-color-0: #000;
$bg-color-1: #111;
$bg-color-2: #222;
$bg-color-3: #333;
$bg-color-4: #444;
$bg-color-5: #555;

$border-width: 1px;
$border-radius: 4px;
$border-color-pri: #111;
$border-color-sec: #444;

%text-shadow { text-shadow: 1px 1px $bg-color-0; }
%box-shadow { box-shadow: $bg-color-2 4px 4px 16px; }

%inset {
    border-style: solid;
    border-width: $border-width;
    border-radius: $border-radius;
    border-top-color: $border-color-pri;
    border-right-color: $border-color-sec;
    border-bottom-color: $border-color-sec;
    border-left-color: $border-color-pri;
}

%outset {
    border-style: solid;
    border-width: $border-width;
    border-radius: $border-radius;
    border-top-color: $border-color-sec;
    border-right-color: $border-color-pri;
    border-bottom-color: $border-color-pri;
    border-left-color: $border-color-sec;
}

::-webkit-scrollbar { width: 8px; height: 10px; }
::-webkit-scrollbar-button { width: 0; height: 0; }
::-webkit-scrollbar-thumb { background: $border-color-sec; border: 0; border-radius: 16px; }
::-webkit-scrollbar-thumb:hover { background: $color-sec; }
::-webkit-scrollbar-thumb:active { background: $color-active; }
::-webkit-scrollbar-track { background: transparent; border: 0; }
::-webkit-scrollbar-corner { background: transparent; }

:root {
    // https://github.com/vueform/slider#styling-with-css-vars
    --slider-bg: #222;
    --slider-connect-bg: #548686;
}

body {
    margin: 0;
    font-family: sans-serif;

    color: $color-pri;
    background-image: radial-gradient(#888 30%, #000 100%);
    user-select: none;

    * { box-sizing: border-box;}
}

fieldset {
    @extend %outset;
    margin-bottom: 12px;
    background-color: $bg-color-3;
    border-radius: 4px 4px 5px 5px;

    legend {
        padding: 2px 8px;
        color: $color-sec;
        border-radius: 4px;
        font-size: smaller;
        @extend %text-shadow;
        background-color: $bg-color-2;
    }
}

a {
    text-decoration: none;

    &:hover { color: $color-hover !important; }
    &:active { color: $color-active !important;; }
    &:visited, &:link { color: inherit }
}

.icon-button, .action-button {
    margin: 0;
    border: 0;
    padding: 0;
    color: $color-pri;
    border-radius: 2px;
    background-color: transparent;
    filter: drop-shadow(1px 1px 0 $bg-color-0);

    &:hover { background-color: $color-hover; }
    &:active { background-color: $color-active; }
}

.icon-button {
    max-height: 24px;
    > svg { height: 24px; width: 24px; }
}

.action-button {
    max-height: 48px;
    > svg { height: 32px; width: 32px;}
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
