@import "vars.scss";

::-webkit-scrollbar { width: 8px; height: 10px; }
::-webkit-scrollbar-button { width: 0; height: 0; }
::-webkit-scrollbar-thumb { background: $border-color-sec; border: 0; border-radius: 16px; }
::-webkit-scrollbar-thumb:hover { background: $color-sec; }
::-webkit-scrollbar-thumb:active { background: $color-active; }
::-webkit-scrollbar-track { background: transparent; border: 0; }
::-webkit-scrollbar-corner { background: transparent; }

body {
    margin: 0;
    font-family: sans-serif;
    font-size: $font-medium;

    color: $color-pri;
    background-image: radial-gradient(#888 30%, #000 100%);
    user-select: none;

    * { box-sizing: border-box;}
}

fieldset {
    @extend %outset;
    background-color: $bg-color-3;
    border-radius: 4px 4px 5px 5px;
    margin-bottom: 12px;
    padding: 4px 8px 12px 8px;

    legend {
        @extend %text-shadow;
        background-color: $bg-color-2;
        border-radius: 4px;
        color: $color-sec;
        font-size: $font-small;
        padding: 2px 8px;
        white-space: nowrap;
    }
}

a {
    text-decoration: none;
    &:hover { color: $color-hover !important; }
    &:active { color: $color-active !important;; }
    &:visited, &:link { color: inherit }
}

input {
    @extend %inset;
    @extend %text-shadow;
    background-color: $bg-color-4;
    border-radius: 4px;
    color: $color-tri;
    cursor: text;
    font-size: $font-medium;
    padding: 4px 4px 2px 5px;
    width: 100%;

    &:hover { border-color: $color-hover; }
}

button {
    transform: translateY(1px);
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
