$color-pri: #eee;
$color-sec: #4db6ac;
$color-tri: #ccc;
$color-err: #d00;
$color-hover: #548686;
$color-active: #80cbc4;

$bg-color-0: #000;
$bg-color-1: #111;
$bg-color-2: #222;
$bg-color-3: #333;
$bg-color-4: #444;
$bg-color-5: #555;

$border-width: 1px;
$border-radius: 4px;
$border-color-pri: #111;
$border-color-sec: #444;

$font-small: 13px;
$font-medium: 14px;
$font-large: 15px;

%drop-shadow { filter: drop-shadow(1px 1px 1px $bg-color-0); }
%text-shadow { text-shadow: 1px 1px $bg-color-0; }
%box-shadow { box-shadow: $bg-color-2 4px 4px 16px; }

%inset {
    border-style: solid;
    border-width: $border-width;
    border-radius: $border-radius;
    border-top-color: $border-color-pri;
    border-right-color: $border-color-sec;
    border-bottom-color: $border-color-sec;
    border-left-color: $border-color-pri;
}

%outset {
    border-style: solid;
    border-width: $border-width;
    border-radius: $border-radius;
    border-top-color: $border-color-sec;
    border-right-color: $border-color-pri;
    border-bottom-color: $border-color-pri;
    border-left-color: $border-color-sec;
}
